TYPEORM_CONNECTION = mssql
TYPEORM_HOST = epizza-server.database.windows.net
TYPEORM_USERNAME = glenn
TYPEORM_PASSWORD = strong_password1
TYPEORM_DATABASE = DrinkBuddyDB
TYPEORM_SYNCHRONIZE = true
TYPEORM_ENTITIES = entity/*.js,dist/**/entity/*.js
TYPEORM_DRIVER_EXTRA='{"charset":"utf8mb4_unicode_ci"}'