<footer>
  <ul class="flex justify-between items-end">
    <li>
      <img
        class="h-52 pointer-events-none"
        src="../../../assets/beer-guy.png"
        alt="guy holding a beer"
      />
    </li>
    <li class="border-4 border-[#C96943] p-4 rounded-lg border-b-0 h-36 w-1/5">
      <h3 class="text-p-orange text-2xl">Socials</h3>
      <div>
        <a class="block" href="#">Facebook</a>
        <a class="block" href="#">Twitter</a>
        <a class="block" href="#">Instagram</a>
      </div>
    </li>
    <li class="border-4 border-[#C96943] p-4 rounded-lg border-b-0 h-36 w-1/5">
      <h3 class="text-p-orange text-2xl">Menu</h3>
      <div>
        <a class="block" href="#">About</a>
        <a class="block" href="#">Terms</a>
        <a class="block" href="#">Privacy</a>
      </div>
    </li>
    <li class="border-4 border-[#C96943] p-4 rounded-lg border-b-0 h-36 w-1/5">
      <h3 class="text-p-orange text-2xl">Get started</h3>
      <div>
        <a class="block" href="#">Log in</a>
        <a class="block" href="#">Register</a>
      </div>
    </li>
  </ul>
</footer>
