<header>
  <nav>
    <div class="flex justify-between">
      <h3
        routerLink="/"
        class="font-semibold text-3xl cursor-pointer hover:transform hover:scale-105 ease-in-out duration-200"
      >
        <span class="text-p-orange">Drink</span>Buddy
      </h3>

      <ul class="gap-4 items-center text-gray-600 font-semibold hidden sm:flex">
        <li
          class="relative"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/">Home</a>
          <div
            class="mt-1 w-2 h-2 absolute left-1/2 transform -translate-x-1/2 rounded-full"
          ></div>
        </li>
        <li class="relative" routerLinkActive="active">
          <a class="cursor-pointer" routerLink="/login">Log in</a>
          <div
            class="mt-1 w-2 h-2 absolute left-1/2 transform -translate-x-1/2 rounded-full"
          ></div>
        </li>
        <li class="relative" routerLinkActive="active">
          <a class="cursor-pointer" routerLink="/dashboard">Register</a>
          <div
            class="mt-1 w-2 h-2 absolute left-1/2 transform -translate-x-1/2 rounded-full"
          ></div>
        </li>
      </ul>

      <div
        class="transition-all sm:hidden cursor-pointer p-2 text-white bg-gray-200 bg-opacity-20 backdrop-blur-sm rounded-full"
        (click)="showSidebar = true"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          class=""
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </div>

      <!-- <aside
        [class.translate-x-[100vw]]="!showSidebar"
        class="ease-out duration-200 fixed w-screen h-screen z-50 inset-0 bg-[#dba062] grid place-items-center gap-12"
      >
        <div
          class="absolute top-8 right-6 cursor-pointer p-2 bg-gray-200 backdrop-blur-sm rounded-full"
          (click)="showSidebar = false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            class="text-gray-900"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>
        <ul class="grid gap-8 text-center font-bold self-end">
          <a
            class="transition-all uppercase text-white text-opacity-90 hover:text-opacity-100 outline-none focus:scale-125"
            href="/"
            >Home</a
          >
          <a
            class="transition-all uppercase text-white text-opacity-90 hover:text-opacity-100 outline-none focus:scale-125"
            href="/releases"
            >Info</a
          >
        </ul>
        <button class="focus-ring relative self-start">
          <div
            class="py-2 px-3 text-white bg-white/10 rounded-md text-xs flex space-x-2 uppercase justify-between"
          >
            <div>Log in</div>
            <div>
              <svg
                class="opacity-75 -rotate-90 false transition-transform"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </div>
          </div>
          <div
            class="gap-2 pt-2 absolute hidden opacity-0 group-hover:opacity-100 transition-all"
          >
            <div
              class="mshadow-md transition-all py-2 px-3 text-white bg-white/20 rounded-md text-xs flex space-x-2 cursor-pointer hover:bg-white-30"
            >
              <div>🇺🇸</div>
              <div>English</div>
            </div>
            <div
              class="mshadow-md transition-all py-2 px-3 text-white bg-white/20 rounded-md text-xs flex space-x-2 cursor-pointer hover:bg-white-30"
            >
              <div>🇧🇪</div>
              <div>Nederlands</div>
            </div>
          </div>
        </button>
      </aside> -->
    </div>
  </nav>
</header>
