<nav>
  <div class="flex justify-between">
    <h3 class="font-semibold text-3xl">
      Drink<span class="text-p-orange">Buddy</span>
    </h3>

    <ul class="flex gap-4 items-center text-gray-600 font-semibold">
      <li
        class="relative"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a routerLink="/">Home</a>
        <div
          class="
            mt-1
            w-2
            h-2
            absolute
            left-1/2
            transform
            -translate-x-1/2
            rounded-full
          "
        ></div>
      </li>
      <li class="relative" routerLinkActive="active">
        <a class="cursor-pointer" routerLink="/login">Log in</a>
        <div
          class="
            mt-1
            w-2
            h-2
            absolute
            left-1/2
            transform
            -translate-x-1/2
            rounded-full
          "
        ></div>
      </li>
      <li class="relative" routerLinkActive="active">
        <a class="cursor-pointer" routerLink="/register">Register</a>
        <div
          class="
            mt-1
            w-2
            h-2
            absolute
            left-1/2
            transform
            -translate-x-1/2
            rounded-full
          "
        ></div>
      </li>
    </ul>
  </div>
</nav>
