.hover {
  opacity: 0;
}

.delete-hover:hover .hover {
  opacity: 0.5;
}

.hover:hover {
  opacity: 1 !important;
}

.maxh {
  max-height: 50%;
}

.height {
  height: 80%;
  max-height: 36.5rem;
}

@media (min-width: 768px) {
  // .height {
  //   max-height: 80%;
  // }
}
.height::-webkit-scrollbar {
  display: none;
}

// .height1 {
//   height: 5%;
// }
// .height2 {
//   height: 35%;
// }

// .height3 {
//   height: 60%;
// }

.postoverlay-img {
  min-height: 50%;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.test {
  height: calc(100% - 50px);
}
