<div class="container mx-auto px-4">
  <div class="flex gap-8 mt-16 items-start">
    <div class="w-1/4 sticky top-24" *ngIf="!user">Loading user...</div>

    <div class="lg:w-1/4 md:w-1/3 md:block sticky hidden top-28" *ngIf="user">
      <div class="bg-white shadow-md rounded-sm relative">
        <img
          class="rounded-full h-20 w-20 absolute left-1/2 transform -translate-x-1/2 -top-10 shadow-md"
          [src]="user.img_url ? user.img_url : '../../../assets/no-profile.png'"
          alt="profile picture of user"
        />

        <div
          class="flex justify-center pt-14 font-semibold text-xl mb-4 transition-all ease-out duration-200 hover:text-p-orange cursor-pointer"
        >
          {{ user.username }}
        </div>
        <ul class="flex pb-4 mb-4 border-b-[1px] group cursor-pointer">
          <li class="flex flex-col items-center border-r-2 w-1/3">
            <p class="text-sm text-gray-400">Following</p>
            <p
              class="group-hover:text-p-orange transition-all ease-out duration-200"
            >
              {{ user.isfollowing ? user.isfollowing.length : 0 }}
            </p>
          </li>
          <li class="flex flex-col items-center border-r-2 w-1/3">
            <p class="text-sm text-gray-400">Followers</p>
            <p
              class="group-hover:text-p-orange transition-all ease-out duration-200"
            >
              {{ user.followers ? user.followers.length : 0 }}
            </p>
          </li>
          <li class="flex flex-col items-center w-1/3">
            <p class="text-sm text-gray-400">Activities</p>
            <p
              class="group-hover:text-p-orange transition-all ease-out duration-200"
            >
              {{ user.posts ? user.posts.length : 0 }}
            </p>
          </li>
        </ul>
        <div class="px-4 pb-4 mb-4 border-b-[1px]">
          <p class="text-gray-400 text-sm">Latest Activity</p>
          <div
            class="flex text-sm justify-between group"
            (click)="handlePostOverlay()"
          >
            <p class="font-semibold group-hover:text-p-orange cursor-pointer">
              {{ latestPost ? latestPost.title : 'No activity yet...' }}
            </p>
            <p class="text-gray-400 group-hover:text-p-orange cursor-pointer">
              {{ latestPost ? (latestPost.date | date: 'mediumDate') : '' }}
            </p>
          </div>
        </div>
        <div
          class="px-4 pb-4 mb-4 flex justify-between items-center group cursor-pointer"
        >
          <p>Your Activities</p>
          <div
            class="group-hover:transform group-hover:translate-x-2 transition-all ease-out duration-200 cursor-pointer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M9 18l6-6-6-6" />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="xl:w-1/2 md:w-2/3 w-full">
      <div
        *ngIf="!postsLoading && posts.length < 1"
        class="bg-white h-96 flex flex-col items-center justify-center"
      >
        <img
          class="w-40 mb-6"
          src="../../../assets/camera-svgrepo-com (2).svg"
          alt="no posts yet image"
        />
        <p class="text-lg text-gray-700">There are no posts yet...</p>
      </div>
      <div *ngIf="postsLoading">
        <app-post-ghost></app-post-ghost>
        <app-post-ghost></app-post-ghost>
      </div>
      <div *ngIf="posts">
        <div *ngFor="let post of posts">
          <app-post
            (emitPostClick)="handlePostOverlay($event)"
            (emitLikesClick)="handleLikesOverlay($event)"
            [user]="post.user!"
            [post]="post"
          ></app-post>
        </div>
      </div>
    </div>

    <div class="xl:w-1/4 xl:block sticky top-28 hidden">
      <div>
        <h3 class="text-gray-700 text-3xl font-semibold">Fun facts:</h3>
        <div *ngIf="facts.length > 0">
          <div class="flex mb-4" *ngFor="let fact of facts">
            <div class="-ml-4">
              <ng-lottie
                height="72px"
                width="72px"
                [options]="options"
              ></ng-lottie>
            </div>
            <p class="mt-4 text-gray-500">
              {{ fact.description }}
            </p>
          </div>
        </div>
        <div *ngIf="facts.length < 1">Loading facts ...</div>
      </div>
    </div>
  </div>
</div>

<div
  class="bg-black bg-opacity-50 fixed w-screen h-full z-10 top-0 left-0"
  *ngIf="postOverlay"
  @fadeIn
>
  <div class="w-full h-full absolute" (click)="closePostOverlay()">
    <div class="absolute right-1 top-1 rounded-full">
      <svg
        class="transform rotate-45 cursor-pointer"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#FFF"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line>
      </svg>
    </div>
  </div>

  <div
    class="max-w-3xl bg-white rounded-md relative top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-4/5 height overflow-y-auto flex flex-col md:flex-row"
  >
    <div class="md:hidden m-4 flex items-center mb-6 justify-between height1">
      <div class="flex gap-2">
        <img
          class="h-10 cursor-pointer"
          [src]="
            activePost?.user?.img_url
              ? activePost?.user?.img_url
              : '../../../assets/no-profile.png'
          "
          alt="profile picture of user"
        />
        <div>
          <p
            class="font-semibold transition-all ease-out duration-200 hover:text-p-orange cursor-pointer"
          >
            {{ activePost!.user!.username }}
          </p>
          <p class="text-gray-400 text-xs -mt-1">
            {{ activePost!.date | date: 'fullDate' }} at
            {{ activePost!.date | date: 'shortTime' }}
          </p>
        </div>
      </div>

      <div>
        <svg
          class="stroke-current text-gray-400 hover:text-gray-500 cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="1"></circle>
          <circle cx="19" cy="12" r="1"></circle>
          <circle cx="5" cy="12" r="1"></circle>
        </svg>
      </div>
    </div>

    <div class="md:w-3/5 w-full justify-center">
      <div class="h-full flex items-center">
        <img
          class="max-w-full md:max-h-full max-h-80 md:my-auto md:mx-0 postoverlay-img mx-auto object-cover"
          [src]="
            activePost?.img_url
              ? activePost?.img_url
              : '../../../assets/no-profile.png'
          "
          alt="profile picture of the user"
        />
      </div>
    </div>

    <div class="md:w-2/5 m-4 flex-1 flex flex-col">
      <div class="md:flex hidden items-center mb-6 justify-between height1">
        <div class="flex gap-2">
          <img
            class="h-10 cursor-pointer"
            [src]="
              activePost?.user?.img_url
                ? activePost?.user?.img_url
                : '../../../assets/no-profile.png'
            "
            alt="profile picture of user"
          />
          <div>
            <p
              class="font-semibold transition-all ease-out duration-200 hover:text-p-orange cursor-pointer"
            >
              {{ activePost!.user!.username }}
            </p>
            <p class="text-gray-400 text-xs -mt-1">
              {{ activePost!.date | date: 'fullDate' }} at
              {{ activePost!.date | date: 'shortTime' }}
            </p>
          </div>
        </div>

        <div>
          <svg
            class="stroke-current text-gray-400 hover:text-gray-500 cursor-pointer"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="12" cy="12" r="1"></circle>
            <circle cx="19" cy="12" r="1"></circle>
            <circle cx="5" cy="12" r="1"></circle>
          </svg>
        </div>
      </div>

      <emoji-mart
        *ngIf="emojiOverlay"
        @fadeIn
        title="Pick your emoji…"
        emoji="point_up"
        [skin]="2"
        [style]="{
          position: 'absolute',
          bottom: '58px',
          left: '4px',
          width: '250px'
        }"
        [enableSearch]="false"
        [showPreview]="false"
        (emojiClick)="addEmoji($event)"
      ></emoji-mart>
      <div class="flex h-1/5 justify-between">
        <div>
          <h3 class="text-gray-700 font-semibold">{{ activePost!.title }}</h3>
          <!-- <p>{{ activePost!.description }}</p> -->
          <p
            class="text-gray-400 text-sm cursor-pointer hover:underline"
            (click)="handleLikesOverlay(activePost!)"
          >
            {{ activePost?.likes?.length }} likes
          </p>
        </div>
        <div>
          <app-like-comment
            [user]="activePost!.user!"
            [post]="activePost!"
          ></app-like-comment>
        </div>
      </div>
      <div class="flex-1 h-4/5 flex flex-col">
        <div
          *ngIf="activePost!.comments!.length > 0"
          class="transition-all duration-300 ease-out overflow-y-auto mt-4 w-full h-3/5"
        >
          <div
            @fadeIn
            *ngFor="let comment of activePost?.comments"
            class="flex gap-2 mb-2"
          >
            <div class="w-[34px]">
              <img
                class="h-6 w-6 mt-[2px] rounded-full"
                [src]="
                  comment.user?.img_url
                    ? comment.user?.img_url
                    : '../../../assets/no-profile.png'
                "
                alt="profile picture of the user"
              />
            </div>
            <div class="w-full delete-hover">
              <div class="flex justify-between items-center">
                <h3 class="text-sm font-semibold">
                  {{ comment.user?.username }}
                </h3>
                <p
                  *ngIf="comment.user!.user_id === user.user_id"
                  class="text-p-orange hover text-xs cursor-pointer mr-1"
                  (click)="deleteComment(comment)"
                >
                  Delete
                </p>
              </div>
              <p class="text-sm word-break">{{ comment.comment }}</p>
            </div>
          </div>
        </div>

        <div class="flex justify-between mt-auto gap-2 items-center h-1/5">
          <div class="flex gap-2 items-center w-full">
            <svg
              class="emojiOverlay"
              (click)="handleEmojiOverlay()"
              aria-label="Emoji"
              class="_8-yf5"
              color="#262626"
              fill="#262626"
              height="24"
              role="img"
              viewBox="0 0 24 24"
              width="24"
            >
              <path
                d="M15.83 10.997a1.167 1.167 0 101.167 1.167 1.167 1.167 0 00-1.167-1.167zm-6.5 1.167a1.167 1.167 0 10-1.166 1.167 1.167 1.167 0 001.166-1.167zm5.163 3.24a3.406 3.406 0 01-4.982.007 1 1 0 10-1.557 1.256 5.397 5.397 0 008.09 0 1 1 0 00-1.55-1.263zM12 .503a11.5 11.5 0 1011.5 11.5A11.513 11.513 0 0012 .503zm0 21a9.5 9.5 0 119.5-9.5 9.51 9.51 0 01-9.5 9.5z"
              ></path>
            </svg>

            <textarea
              class="text-gray-700 box-border bg-gray-100 p-1 w-full outline-none resize-none"
              placeholder="Add a comment"
              rows="1"
            ></textarea>
          </div>

          <div>
            <p
              class="text-p-orange cursor-pointer hover:bg-yellow-600 hover:bg-opacity-20 rounded-md px-4 flex justify-center items-center"
              (click)="handleComment()"
            >
              Post
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="bg-black bg-opacity-50 fixed w-screen h-full z-10 top-0 left-0"
  *ngIf="likeOverlay"
  @fadeIn
>
  <div class="w-full h-full absolute" (click)="closeLikesOverlay()"></div>

  <div
    class="bg-white rounded-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-1/5 h-2/5 overflow-y-auto p-4"
  >
    <div class="flex justify-between items-center w-full pb-4 border-b-2">
      <div class="h-8 w-8"></div>
      <h3 class="">Likes</h3>
      <div class="w-8 h-8" (click)="closeLikesOverlay()">
        <svg
          class="transform rotate-45 cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#000"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
      </div>
    </div>

    <div
      class="flex justify-between items-center mt-4"
      *ngFor="let like of activePost?.likes"
    >
      <div class="flex gap-2 items-center">
        <img
          class="w-10 h-10 rounded-full"
          [src]="
            like.user?.img_url
              ? like.user?.img_url
              : '../../../assets/no-profile.png'
          "
          alt="profile picture of the user"
        />
        <div>
          <h3 class="font-semibold">{{ like?.user?.username }}</h3>
          <p class="text-gray-400">
            {{ like?.user?.name }} {{ like?.user?.lastname }}
          </p>
        </div>
      </div>
      <div *ngIf="like.user?.user_id !== user.user_id">
        <button
          *ngIf="testFunction(like.user!); else notFollowing"
          class="p-2 px-4 rounded-sm text-gray-700 bg-white border-2 w-24 flex justify-center items-center"
          (click)="unfollowUser(like.user!)"
        >
          <svg
            *ngIf="unfollowingLoading"
            class="h-5 w-5 block animate-spin text-gray-300 stroke-current"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
          <p *ngIf="!unfollowingLoading">Following</p>
        </button>

        <ng-template #notFollowing>
          <button
            class="p-2 px-4 rounded-sm bg-p-orange text-white w-20 flex justify-center items-center"
            #notFollowing
            (click)="followUser(like.user!)"
          >
            <svg
              *ngIf="followingLoading"
              class="h-5 w-5 text-white block animate-spin"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>

            <p *ngIf="!followingLoading">Follow</p>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
