<div
  class="bg-white rounded-sm p-6 pt-3 shadow-md mb-6 transition-all duration-1000 ease-out"
>
  <div class="flex gap-2 items-center mb-6">
    <img
      class="h-10 cursor-pointer w-10 rounded-full"
      src="../../../assets/no-profile.png"
      alt="profile picture of user"
    />
    <div class="flex flex-col gap-1">
      <div class="bg-gray-100 w-[100px] h-2 animate-pulse"></div>
      <div class="bg-gray-100 w-[100px] h-2 animate-pulse"></div>
    </div>
  </div>

  <div class="flex gap-2 mb-6">
    <p
      class="w-10 text-center items-start leading-6 cursor-default animate-pulse"
    >
      🍺
    </p>
    <div class="flex flex-col gap-2">
      <div class="bg-gray-100 w-[100px] h-6 animate-pulse"></div>

      <div class="bg-gray-100 w-[200px] h-6 animate-pulse"></div>
    </div>
  </div>

  <div class="mb-6">
    <div class="w-full h-72 bg-gray-100 animate-pulse"></div>
  </div>
</div>
