<div *ngIf="loading" class="h-full w-screen absolute z-50 flex justify-center">
  <div class="mt-60 flex flex-col items-center">
    <!-- <lottie-player
      src="https://assets1.lottiefiles.com/private_files/lf30_z1LCCg.json"
      background="transparent"
      speed="1"
      style="width: 300px; height: 300px"
      loop
      controls
      autoplay
    ></lottie-player> -->
    <ng-lottie height="200px" width="200px" [options]="options"></ng-lottie>

    <p class="text-white font-semibold">Loading DrinkBuddy ...</p>
  </div>
</div>
