<header class="bg-white shadow-md">
  <nav>
    <div class="flex justify-between h-14 items-center container mx-auto px-4">
      <h3
        routerLink="/"
        class="font-semibold text-3xl cursor-pointer hover:transform hover:scale-105 ease-in-out duration-200"
      >
        <span class="text-p-orange">Drink</span>Buddy
      </h3>

      <ul
        class="gap-4 items-center text-gray-600 font-semibold hidden sm:flex h-full"
      >
        <li
          class="relative group h-full flex items-center"
          routerLinkActive="active"
        >
          <div class="absolute top-1/2 -translate-y-1/2 left-2">
            <svg
              class="absolute z-10"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              role="img"
              class="icon icon-18 fill-current"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z"
              ></path>
            </svg>
          </div>
          <input
            type="text"
            placeholder="Search"
            class="text-gray-700 box-border resize-none pl-10 p-1 bg-gray-100 outline-none rounded-md w-56 input dropdownsearch"
            [(ngModel)]="searchValue"
            (keyup)="handleSearchValue()"
          />

          <div
            class="top-16 left-1/2 transform -translate-x-1/2 w-56 h-auto py-4 bg-white hidden absolute hover:block rounded-md shadow-md"
            *ngIf="usersFollowing!.length > 0"
          >
            <div class="w-56 h-2 absolute z-0 -top-2"></div>
            <div class="dropdowntriangle z-10"></div>
            <ul class="flex flex-col items-center">
              <li
                class="hover:bg-gray-100 h-12 pl-4 flex gap-2 cursor-pointer items-center w-full text-gray-600"
                *ngFor="let user of usersFollowing"
              >
                <img
                  class="w-8 h-8 rounded-full"
                  [src]="
                    user!.user!.img_url
                      ? user!.user!.img_url
                      : '../../../assets/no-profile.png'
                  "
                  alt="profile picture of the user"
                />
                <div>
                  <h3 class="text-sm text-gray-700 font-semibold">
                    {{ user!.user!.username! }}
                  </h3>
                  <p
                    class="text-sm text-gray-400 break-words overflow-hidden w-full"
                  >
                    {{ user!.user!.name! | titlecase }}
                    {{ user!.user!.lastname! | titlecase }}
                  </p>
                </div>
              </li>

              <ul *ngIf="searchedUsers.length > 0">
                <li
                  class="hover:bg-gray-100 h-12 pl-4 flex gap-2 cursor-pointer items-center w-full text-gray-600"
                  *ngFor="let searchedUser of searchedUsers"
                >
                  <img
                    class="w-8 h-8 rounded-full"
                    [src]="
                      searchedUser!.img_url
                        ? searchedUser!.img_url
                        : '../../../assets/no-profile.png'
                    "
                    alt="profile picture of the user"
                  />
                  <div>
                    <h3 class="text-sm text-gray-700 font-semibold">
                      {{ searchedUser!.username! }}
                    </h3>
                    <p
                      class="text-sm text-gray-400 break-words overflow-hidden w-full"
                    >
                      {{ searchedUser!.name! | titlecase }}
                      {{ searchedUser!.lastname! | titlecase }}
                    </p>
                  </div>
                </li>
              </ul>
            </ul>
          </div>
        </li>
        <li
          class="relative group h-full flex items-center"
          routerLinkActive="active"
        >
          <img
            class="rounded-full w-6 h-6 cursor-pointer"
            [src]="
              user?.img_url ? user?.img_url : '../../../assets/no-profile.png'
            "
            alt="profile picture of the user"
          />

          <div
            class="top-16 left-1/2 transform -translate-x-1/2 w-40 h-auto py-4 bg-white hidden group-hover:block absolute hover:block rounded-md shadow-md"
          >
            <div class="h-2 absolute z-0 -top-2 w-40"></div>
            <div class="dropdowntriangle z-10"></div>
            <ul class="flex flex-col items-center">
              <li
                class="hover:bg-gray-100 h-10 pl-4 flex cursor-pointer items-center w-full text-gray-600"
              >
                Profile
              </li>
              <li
                class="hover:bg-gray-100 h-10 pl-4 flex cursor-pointer items-center w-full text-gray-600"
              >
                Edit profile
              </li>
              <li
                class="hover:bg-gray-100 h-10 pl-4 flex cursor-pointer items-center w-full text-gray-600"
                (click)="handleSignOut()"
              >
                Sign out
              </li>
            </ul>
          </div>
        </li>

        <li class="relative" routerLinkActive="active">
          <app-button
            class="w-full"
            name="Upload"
            (click)="onClick()"
          ></app-button>
        </li>
      </ul>

      <div
        class="transition-all sm:hidden cursor-pointer p-2 text-white bg-gray-200 bg-opacity-20 backdrop-blur-sm rounded-full"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          class=""
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </div>

      <!-- <aside
        [class.translate-x-[100vw]]="!showSidebar"
        class="ease-out duration-200 fixed w-screen h-screen z-50 inset-0 bg-[#dba062] grid place-items-center gap-12"
      >
        <div
          class="absolute top-8 right-6 cursor-pointer p-2 bg-gray-200 backdrop-blur-sm rounded-full"
          (click)="showSidebar = false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            class="text-gray-900"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>
        <ul class="grid gap-8 text-center font-bold self-end">
          <a
            class="transition-all uppercase text-white text-opacity-90 hover:text-opacity-100 outline-none focus:scale-125"
            href="/"
            >Home</a
          >
          <a
            class="transition-all uppercase text-white text-opacity-90 hover:text-opacity-100 outline-none focus:scale-125"
            href="/releases"
            >Info</a
          >
        </ul>
        <button class="focus-ring relative self-start">
          <div
            class="py-2 px-3 text-white bg-white/10 rounded-md text-xs flex space-x-2 uppercase justify-between"
          >
            <div>Log in</div>
            <div>
              <svg
                class="opacity-75 -rotate-90 false transition-transform"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </div>
          </div>
          <div
            class="gap-2 pt-2 absolute hidden opacity-0 group-hover:opacity-100 transition-all"
          >
            <div
              class="mshadow-md transition-all py-2 px-3 text-white bg-white/20 rounded-md text-xs flex space-x-2 cursor-pointer hover:bg-white-30"
            >
              <div>🇺🇸</div>
              <div>English</div>
            </div>
            <div
              class="mshadow-md transition-all py-2 px-3 text-white bg-white/20 rounded-md text-xs flex space-x-2 cursor-pointer hover:bg-white-30"
            >
              <div>🇧🇪</div>
              <div>Nederlands</div>
            </div>
          </div>
        </button>
      </aside> -->
    </div>
  </nav>
</header>
