.dropdowntriangle {
  position: absolute;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: 50%;
  transform: translateX(-50%);

  border-bottom: 8px solid white;
}

// .dropdownsearch ~ .dropdownsearchbox {
//   display: none;
// }

// .dropdownsearch:hover ~ .dropdownsearchbox {
//   display: block;
// }
// .dropdownsearch:active ~ .dropdownsearchbox {
//   display: block;
// }
// .dropdownsearch:focus ~ .dropdownsearchbox {
//   display: block;
// }

// .dropdownsearchbox:focus {
//   display: block;
// }
// .dropdownsearchbox:active {
//   display: block;
// }

.scrollbar::-webkit-scrollbar {
  display: none;
}
