/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: 'Aileron', 'sans-serif';
  background-color: #e8ded3;
}

::selection {
  background-color: lightsalmon;
  color: white;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
