<div class="container px-4 mx-auto">
  <div
    class="w-full max-h-96 bg-white mt-10 rounded-md p-4 flex items-center gap-2 max-w-3xl mx-auto"
  >
    <svg
      *ngIf="searchResults.length < 1"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
      fill="none"
      stroke="#acacac"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
    <p *ngIf="searchResults.length < 1" @fadeIn class="text-gray-400">
      No users found...
    </p>

    <ul
      class="w-full"
      *ngIf="searchResults.length > 0"
      [@listAnimation]="searchResults.length"
    >
      <li
        *ngFor="let user of searchResults"
        class="flex p-4 justify-between w-full items-center"
      >
        <div class="flex gap-2">
          <img
            class="w-10 h-10 rounded-full"
            [src]="
              user?.img_url ? user?.img_url : '../../../assets/no-profile.png'
            "
            alt="profile picture of the user"
          />
          <div>
            <h3 class="font-semibold">{{ user?.username }}</h3>
            <p class="text-gray-400">{{ user?.name }} {{ user?.lastname }}</p>
          </div>
        </div>
        <div>
          <button
            *ngIf="testFunction(user!); else notFollowing"
            class="p-2 px-4 rounded-sm text-gray-700 bg-white border-2 w-24 flex justify-center items-center h-10"
            (click)="unfollowUser(user!)"
          >
            <svg
              *ngIf="unfollowingLoading"
              class="h-5 w-5 block animate-spin text-gray-300 stroke-current"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            <p *ngIf="!unfollowingLoading">Following</p>
          </button>

          <ng-template #notFollowing>
            <button
              class="p-2 px-4 rounded-sm bg-p-orange text-white w-20 flex justify-center items-center h-10"
              #notFollowing
              (click)="followUser(user!)"
            >
              <svg
                *ngIf="followingLoading"
                class="h-5 w-5 text-white block animate-spin"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>

              <p *ngIf="!followingLoading">Follow</p>
            </button>
          </ng-template>
        </div>
      </li>
    </ul>
  </div>
</div>
